
QMainWindow, QWidget {
    background-color: #2d2d2d;
    /*color: #eaeaea;*/
    font-family: "Segoe UI";
}


QPushButton#dictionaryButton {
    /*font-size: 20px;*/
    background-color: #ff059bff;
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    padding: 5px;
}

QPushButton#scanButton {
    /*font-size: 12px;*/
    background-color: #ff059bff;
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    padding: 5px;
}

QPushButton#attackButton {
    /*font-size: 12px;*/
    background-color: #ff059bff;
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    padding: 5px;
}


QPushButton#dictionaryButton:hover {
    background-color: #ff0277c5;
    color: #333333;
}

QPushButton#scanButton:hover {
    background-color: #ff0085dd;
    color: #333333;
}

QPushButton#attackButton:hover {
    background-color: #ff0085dd;
    color: #333333;
}


QPushButton#dictionaryButton:pressed {
    background-color: #2d2d2d;
    color: #ff059bff;
    border: 1px solid #ff059bff;
}

QPushButton#scanButton:pressed {
    background-color: #2d2d2d;
    color: #ff059bff;
    border: 1px solid #ff059bff;
}

QPushButton#attackButton:pressed {
    background-color: #2d2d2d;
    color: #ff059bff;
    border: 1px solid #ff059bff;
}